@{
    ViewBag.Title = "Epic Calculator - Home Page";
}

<div class="jumbotron">
    <h1>Epic Calculator</h1>
    <p class="lead">Welcome to Epic calculator web application. The application is just an example created to help explain articles published on <a href="https://tariqabubaker.wordpress.com" target="_blank">Tariq's Abubker blog.</a></p>
</div>